development:
  adapter: postgresql
  encoding: unicode
  database: web_rest_client_development
  pool: 5
  username: user
  password:

test:
  adapter: postgresql
  encoding: unicode
  database: web_rest_client_test
  pool: 5
  username: user
  password:

production:
  adapter: postgresql
  encoding: unicode
  database: web_rest_client_production
  pool: 5
  username: user
  password:
