!!! 5
%html(lang='pt-BR')
  %head
    %meta(charset='utf-8')
    %meta(http-equiv='X-UA-Compatible' content='IE=Edge,chrome=1')
    %meta(name='viewport' content='width=device-width, initial-scale=1.0')
    %title Web Rest Client
    =stylesheet_link_tag 'application', media: 'all'
    =csrf_meta_tags
    =favicon_link_tag

  %body
  .container
    -flash.each do |type, message|
      %div{class: "flash flash-#{ type == :error ? 'error' : 'notice' }"}
        .message
          %p=message
    =yield

  =javascript_include_tag 'application'
